    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: linear-gradient(to right, #ff0000, #ffffff);
    }
    .login-container {
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
      width: 300px;
      text-align: center;
    }
    h1 {
      color: #d40000;
      margin-bottom: 20px;
    }
    input {
      width: 90%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    button {
      background-color: #d40000;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      margin-top: 10px;
    }
    button:hover {
      background-color: #a00000;
    }
    .admin-link {
      margin-top: 15px;
      display: block;
      font-size: 14px;
      color: #d40000;
      text-decoration: none;
    }
    .admin-link:hover {
      text-decoration: underline;
    }